<app-search></app-search>

<ion-content class="ion-text-center">
  <div *ngIf="loading">Loading.....</div>
  <div *ngIf="error">Error :</div>
  <div *ngIf="categorias" class="categorias">
    <ion-item class="titulo-items  ion-justify-content-center">
      <ion-label>
        <h2>Categorias</h2>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let categoria of categorias; let i = index" class="afuera-items" [class.rounded-bottom]="i === lastIndex">
          <ion-label>
            <h2>{{ categoria}}</h2>
          </ion-label>
    </ion-item>
  </div>

</ion-content>

<app-barra-buttons></app-barra-buttons>