<ion-header>
  <ion-toolbar style="height: 40px;">
    <ion-title>Modificar Envios</ion-title>
  </ion-toolbar>

  <ion-toolbar style="padding-bottom: 5px;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user-profile/1"></ion-back-button>
    </ion-buttons>

    <ion-searchbar
    [(ngModel)]="searchKeyword"
    (ionChange)="handleSearchInputChange()"
    class="custom"
    show-clear-button="focus"
    placeholder="Envio id"></ion-searchbar>  
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="loading" class="loading-container">
    <ion-spinner class = "custom-spinner" name="circular"></ion-spinner>
  </div>

  <div *ngIf="error" class="noenvios-container">Error :</div>

  <div *ngIf="allEnvios===[]" class="noenvios-container"> 
    No hay envios
  </div>

  <div *ngIf="filteredEnvios" > 
    <ion-list>
  <ion-item *ngFor="let envio of filteredEnvios">
    <ion-label>
      <h1 style="color:#FFA800">#{{envio.id.toString().padStart(5, '0')}}</h1>
      <p>Creado el: {{ envio.fecha_creacion }}</p>  
      <p>Se entrega el: {{ envio.fecha_entrega }}</p> 
    </ion-label>

    <ion-label slot=end>
      <ion-list>
        <ion-item>
          <ion-select
            placeholder="{{envio.estado}}"
            okText="Cambiar"
            cancelText="Cancelar"
            (ionChange)="handleChange($event,envio)"
          >
            <ion-select-option value="En proceso">En proceso</ion-select-option>
            <ion-select-option value="Enviado">Enviado</ion-select-option>
            <ion-select-option value="Listo para recoger">Listo para recoger</ion-select-option>
            <ion-select-option value="Cancelado">Cancelado</ion-select-option>
            <ion-select-option value="Terminado">Terminado</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-label>
  </ion-item>
</ion-list>


  </div>



</ion-content>