<ion-tab-bar style="height: 60px;" slot="bottom">
  <ion-tab-button [hidden]="this.rol_user=='1'" [routerLink]="['/categoria']">
    <ion-icon style="font-size: 6em;" name="pricetags"></ion-icon>
  </ion-tab-button>
  <ion-tab-button [routerLink]="['/home']">
    <ion-icon style="font-size: 6em;" [routerLinkActive]="['activo']" name="storefront"></ion-icon>
  </ion-tab-button>


  <ion-tab-button [hidden]="this.rol_user=='1'" [routerLink]="['/carrito']">
    <ion-icon style="font-size: 6em; " [routerLinkActive]="['activo']" name="cart"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  [hidden]="this.rol_user=='1'" [routerLink]="['/envios', getUserIDDataFromLocalStorage()]">
    <ion-icon style="font-size: 6em;" [routerLinkActive]="['activo']" name="cube-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  [hidden]="this.rol_user=='2'" [routerLink]="['/envios-admin']">
    <ion-icon style="font-size: 6em;" [routerLinkActive]="['activo']" name="cube-outline"></ion-icon>
  </ion-tab-button>


</ion-tab-bar>