
  <ion-tab-bar  style="height: 60px;" slot="bottom">
    <ion-tab-button [routerLink]="['/categoria']">
      <ion-icon style="font-size: 6em;"  name="pricetags"></ion-icon>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/home']">
      <ion-icon style="font-size: 6em;" [routerLinkActive]="['activo']" name="storefront"></ion-icon>
    </ion-tab-button>

 
      <ion-tab-button  [routerLink]="['/carrito']"  >
        <ion-icon style="font-size: 6em; "  [routerLinkActive]="['activo']" name="cart"></ion-icon>
      </ion-tab-button>
    
    <ion-tab-button [routerLink]="['/user-profile']" >
      <ion-icon style="font-size: 6em;"  [routerLinkActive]="['activo']" name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
  
