<body>
    <div class="padre">
        <div>
            <div style="text-align: center">
                <img class="imagen-fondo" src="..\assets\Fondo_login.png" alt="">
            </div>
            <form metod="post" action="" style="margin-top: 16%; ">
    
                <div>
                    <p class="letra" style="margin-left: 10%; " >Usuario</p>
                    <input style="padding: 20px;" name="username" id = "username" [(ngModel)]="usuario.username" class="button-log" placeholder="Usuario@Unal.edu.co" type="text">
                </div>
    
                <div>
                    <p class="letra"  style="margin-left: 10%; " >Contraseña</p>
                    <input style="padding: 20px;" name="password" id = "password" [(ngModel)]="usuario.password" class="button-log" placeholder="***********" type="password">
                </div>
                
                <input (click)="login()" type="submit"class="btn-ingreso" value="Ingresar">
                
    
            </form>
    
            <div style="text-align: center; margin-top:5%">
                <p style="color: white;">¿No tienes cuenta? <a href="/register" class="letra">Registrate</a></p>
            </div>
        </div>
    </div>

</body>