body {
    background-color: #4C015D;
  }

.letra {
  color: #FFA800;
  font-style: Barlow;
  font-weight: 600;
  margin-bottom: 5px;
}

.imagen-fondo {
  width: 70%;
}

.padre{
  display: table;
  height: 700px;
  width: 100%;
}
 
.padre > div{
  display: table-cell;
  vertical-align: middle;
}

.button-log {
  background-color: white;
  width: 80%;
  left: 50%;
  margin: 0 auto 10px 10%;
  height: 35px;
  font-style: Barlow;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.btn-ingreso {
  margin-top: 7%;
  background: #FFA800;
  width: 80%;
  text-align: center;
  margin: 30px auto 0 10%;
  height: 35px;
  font-style: Barlow;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.btn-ingreso :hover{
  background: #4C015D;
}