<body>
    <div class="padre">
        <div>
            <div style="text-align: center">
                <img class="imagen-fondo" src="..\assets\Fondo_login.png" alt="">
            </div>
            <form action="" style="margin-top: 16%; ">
    
                <div>
                    <p class="letra" style="margin-left: 10%; ">Usuario</p>
                    <input class="button-log" placeholder="Usuario@Unal.edu.co" type="text">
                </div>
    
                <div>
                    <p class="letra"  style="margin-left: 10%; ">Contraseña</p>
                    <input class="button-log" placeholder="***********" type="password">
                </div>
                
                <button type="button" class="btn-ingreso">Ingresar</button>
    
    
            </form>
    
            <div style="text-align: center; margin-top:5%">
                <p style="color: white;">¿No tienes cuenta? <a href="/register" class="letra">Registrate</a></p>
            </div>
        </div>
    </div>

</body>