

<app-search></app-search>

<ion-content [hidden]="this.rol_user=='1'"  class="ion-contenedor">
    <swiper-container
    [initialSlide]="1"
    [centeredSlides]="true"
    [autoplay]="true"
    [spaceBetween]="20"
    [pagination]="{clickeable: true, dynamicBullets: true}"



    >
      <swiper-slide>
        <img  src="..\assets\slide\1.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
        <img  src="..\assets\slide\2.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
        <img  src="..\assets\slide\3.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
        <img src="..\assets\slide\4.jpg" alt="">
      </swiper-slide>
    </swiper-container>
    <ion-grid>
      <ion-row>
        <ion-col  *ngFor="let prod of Products ; let i = index" size="6" size-md="4" size-lg="2">

          <div style="text-align: center">
            <div>
              <a [routerLink]="['/producto', prod.idProducto]" >
                <img class="imagen-fondo" src="..\assets\images.png" alt="">
              </a>
            </div>


            <div  class="div-imagen">
              <span class="nombre">{{prod.nombre}}</span>
              <span  class="precio">${{prod.precio}}</span>

            </div>

          </div>
        </ion-col>


      </ion-row>
    </ion-grid>




</ion-content>


<ion-content class="ion-contenedor" [hidden]="this.rol_user=='2' || this.rol_user == 'NoRol'" >

  <h1 style="margin-left: 10px; color: #4C015D; font-weight: bold;">Chat con Usuarios</h1>
  <p style="margin-left: 10px;color: #4C015D">Respondele las inquietudes a tus clientes</p>
  <div *ngIf="usuarios" class="usuarios-admins" >

  <ion-item *ngFor="let user of usuarios; let i = index" class="afuera-items" (click)="redirectToPageWithId('/chat-admin', chats[i])" slot="start">
    <ion-avatar style="margin-left: 10px;">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label style="margin-left: 10px;">
      <h3>{{user}}</h3>
      <!-- <p>Detail set to true - detail arrow displays on both modes</p> -->
    </ion-label>

  </ion-item>


</div>

</ion-content>

<app-barra-buttons></app-barra-buttons>


