

<app-search></app-search>

<ion-content class="ion-contenedor">
    <swiper-container
    [initialSlide]="1"
    [centeredSlides]="true"
    [autoplay]="true"
    [spaceBetween]="20"
    [pagination]="{clickeable: true, dynamicBullets: true}"
    
    
    
    >
      <swiper-slide>
        <img  src="..\assets\slide\1.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
        <img  src="..\assets\slide\2.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
        <img  src="..\assets\slide\3.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
        <img src="..\assets\slide\4.jpg" alt="">
      </swiper-slide>
    </swiper-container>
    <ion-grid>
      <ion-row>
        <ion-col  *ngFor="let prod of Products ; let i = index" size="6" size-md="4" size-lg="2">
        
          <div style="text-align: center">
            <div>
              <a [routerLink]="['/producto', prod.idProducto]" >
                <img class="imagen-fondo" src="..\assets\images.png" alt="">
              </a>
            </div>
            
          
            <div  class="div-imagen">
              <span class="nombre">{{prod.nombre}}</span>
              <span  class="precio">${{prod.precio}}</span>

            </div>

          </div>
        </ion-col>
        

      </ion-row>
    </ion-grid>

</ion-content>

<app-barra-buttons></app-barra-buttons>


