<app-search></app-search>

<ion-content >
    <div *ngIf="loading">Loading.....</div>
    <div *ngIf="error">Error :</div>
    <div *ngIf="cartItems" >
      <ion-item *ngFor="let item of cartItems; let i = index"  class="afuera-items">
        <ion-item-sliding class="items">
          <ion-item class="caja" >    
            <ion-thumbnail class="cont-imagen"  slot="start" >
              <img class="imagen"  src="../../../assets/images.png">
            </ion-thumbnail>
            
            <ion-label>
              <h2>{{ cartItems[i].nombre }}</h2>
              <p> {{ cartItems[i].descripcion}}</p>
              <p>Unidad: ${{ cartItems[i].precio}}</p>
              <p class="precio">${{ cantidadItems[i] * cartItems[i].precio}}</p>
            </ion-label>
            <ion-label slot="end" class="botones" >
              <ion-button shape="round" class="signo-button" (click)="reducir_producto_de_carrito(cartItems[i].idProducto,i)">
                <ion-icon slot="icon-only"  class="signo" name="remove"></ion-icon>
              </ion-button>
            
              <ion-button class="cantidad">
                {{ cantidadItems[i] }}
              </ion-button>
              <ion-button shape="round" class="signo-button" (click)="aumentar_producto_de_carrito(cartItems[i].idProducto,i)">
                <ion-icon slot="icon-only" class="signo" name="add"></ion-icon>
              </ion-button>
              
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" expandable (click)="eliminar_producto_de_carrito(item.idProducto,i)">
              <ion-icon style="font-size: 2em;" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>     
        </ion-item-sliding >
      </ion-item>
    </div>
    
</ion-content>
<div class="bottom-button-container">
  <ion-button class="pagar" slot="fixed" expand="block" (click)="pagar_carrito()">
    <div class="total-corner" style="width: 100%;">
      Total:
      ${{ total }}

    </div>
    <div class="wallet" style="width: 100%;">
      <ion-icon name="wallet"></ion-icon>
      Ir a pagar
    </div>
  </ion-button>
</div>

<app-barra-buttons></app-barra-buttons>

