
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <img class="imagen-fondo" src="..\assets\Fondo_login.png" alt="">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">


    
    
  </ion-content>
</ion-menu>






<div  id="main-content">
  <ion-header>
    <ion-toolbar>

      <ion-buttons slot="start" style="margin-top: 10px;">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

        <ion-searchbar style="margin-top: 10px;" show-clear-button="focus" color="light" placeholder="Buscar..."></ion-searchbar>
    </ion-toolbar>
  </ion-header>
</div>
