
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <img class="imagen-fondo" src="..\assets\Fondo_login.png" alt="">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>



    <div *ngIf="userdata" class="userinfo-container">      

        <h1 class="infousuario-title" style="color:#4C015D"> 
          <ion-icon name="person"></ion-icon>
         Tus datos:
        </h1>
        <h5> <span class="title">Nombre:   </span> <span style="color:white;">{{userdata.firstName}}</span></h5>
        <h5> <span class="title">Apellido: </span> <span style="color:white;">{{userdata.lastName}}</span></h5>
        <h5> <span class="title">Ciudad:   </span> <span style="color:white;">{{userdata.city}}</span></h5>
        <h5> <span class="title">Dirección:</span> <span style="color:white;">{{userdata.address}}</span></h5>
        <h5> <span class="title">Número:   </span> <span style="color:white;">{{userdata.phoneNumber}}</span></h5>        

    </div>


    <ion-item [routerLink]="['/carrito']">
      <ion-icon style="font-size: 3em;" name="cart"  slot="start"></ion-icon>
      <ion-label class="label-menu">Carrito</ion-label>
    </ion-item>

    <ion-item [routerLink]="['/envios', getUserIDDataFromLocalStorage()]">
      <ion-icon style="font-size: 3em;" name="cube-outline" slot="start" ></ion-icon>
      <ion-label class="label-menu">Mis envios</ion-label>
    </ion-item>

    
    <ion-item [routerLink]="['/chat']">
      <ion-icon style="font-size: 3em;" name="chatbubbles"slot="start" ></ion-icon>
      <ion-label class="label-menu">Chat de ayuda</ion-label>
    </ion-item>
  
  



    <ion-item slot="bottom">
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>

  </ion-content>
</ion-menu>






<div  id="main-content">
  <ion-header>
    <ion-toolbar>

      <ion-buttons slot="start" style="margin-top: 10px;">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

        <ion-searchbar class="buscador" show-clear-button="focus"  placeholder="Buscar..."></ion-searchbar>
    </ion-toolbar>
  </ion-header>
</div>
