
  <!-- -->
  <ion-header  >
    <ion-toolbar style=" --background: #4C015D; ">    
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title style="color: white;">Envios</ion-title>    
    </ion-toolbar>
  </ion-header>

  <ion-content>
    
    
    <div *ngIf="loading" class="loading-container">
      <ion-spinner class = "custom-spinner" name="circular"></ion-spinner>
    </div>

    <div *ngIf="error" class="noenvios-container">Error :</div>

    <div *ngIf="hasEnvios===false" class="noenvios-container"> 
      Usted no tiene envios
    </div>

    <div *ngIf="envios" >
      <ion-accordion-group [multiple]="true" expand="inset" *ngFor="let envio of envios">
        <ion-accordion>
          <ion-item slot="header">

            <ion-label>
              <h2 style="color:white;" >Envio #{{envio.id.toString().padStart(5, '0')}}</h2>
              <p style="color:white;">Creado el: {{ envio.fecha_creacion }}</p>  
            </ion-label>

            <ion-label slot="end">
              <p style="color:white;">{{envio.estado}}</p>
              <h6 style="color: #FFA800;">${{envio.precio_total}}</h6>
            </ion-label>
                       
          </ion-item>

          <div slot="content">            
            <div *ngFor="let detail of envio.details">

              <ion-item style="--background: #bab6bb;" slot="header">

                <ion-thumbnail slot="start" >
                  <img class="imagen"  src="../../../assets/images.png">
                </ion-thumbnail>

                <ion-label>
                  <h2 class="letra-morado-oscuro">Producto: {{ detail.id_producto }}</h2>
                  <p class="letra-negra">Cantidad: {{ detail.cantidad }}</p>
                  <p class="letra-negra">Precio: ${{ detail.subtotal/detail.cantidad }}</p>  
                </ion-label>
    
                <ion-label slot="end">
                  <p class="letra-negra" style="font-weight: bold;">Subtotal:</p>
                  <p class="letra-negra">${{ detail.subtotal }}</p>
                </ion-label>
              </ion-item>

            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>    

    
  </ion-content>  
  <app-barra-buttons></app-barra-buttons>

  


