ion-content {
    --ion-background-color: #F8F6F6;
}

ion-accordion ion-item[slot="header"] {
    --background: #4C015D;
}

.letra-negra{
    color: black;
}

.letra-morado-oscuro{
    color:#4C015D;
    font-weight: bold;
}